{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-5">
        <div class="card-header" style="background-color: rgb(178, 236, 178);">
          <h3>Sign up</h3>
        </div>
        <div class="card-body">
          <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputAddress2">First name</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Josh" name="first_name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputAddress2">Last name</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="loius" name="last_name">
                  </div>
              <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="username">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="1234 Main St">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Address 1</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
