{% extends '/home/peekay/Documents/PROJECTS/digital_wallet/login/templates/base.html' %}


{% block content %}
    <ul class="nav justify-content-center mt-4 bg-lightblue">
        <li class="nav-item">
            <a class="nav-link active local-nav" data-toggle="modal" data-target="#fundModal" href="#">Fund</a>
        </li>
        <li class="nav-item">
            <a class="nav-link local-nav" href="#" data-toggle="modal" data-target="#transferModal" href="#">Transfer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Withdraw</a>
        </li>
    </ul>
    {% comment %} ------------------------------------------------------------end local nav---------------------------------------------------- {% endcomment %}
    <div class="container mt-5">
        {% if messages %}
            <div class="mt-3">
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% comment %} --------------------------------------------end message-------------------------------------- {% endcomment %}
        {% endif %}
    {% for wallet in user_wallets %}
    <h1 id="amount" class="text-center font-weight-bold text-danger amount">R {{ wallet.amount }}</h1>
    {% endfor %}
    {% comment %} ---------------------------------------------------------------------end amount presentation---------------------------------------- {% endcomment %}

    <div class="modal fade" id="fundModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Fund</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="fundWalletForm" method="POST" action="{% url 'fund_wallet' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {% for wallet in user_wallets %}
                        <input type="hidden" class="form-control" id="wallet_id" name="wallet_id" value="{{ wallet.id }}" readonly>
                        {% endfor %}
                        <label for="fundAmount">Amount</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">R</span>
                            </div>
                            <input type="number" class="form-control" id="fundAmount" name="amount" placeholder="Enter amount" step="0.01" min="0.01" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Fund wallet</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
{% comment %} ---------------------------------------------------------------fund modal ends here-------------------------------------- {% endcomment %}
<!-- Transfer Modal -->
<div class="modal fade" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="transferModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transferModalLabel">Transfer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Transfer form goes here -->
                <form id="transferForm" method="POST" action="{% url 'transfer_funds' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {% for wallet in user_wallets %}
                        <input type="hidden" class="form-control" id="wallet_id" name="wallet_id" value="{{ wallet.id }}" readonly>
                        {% endfor %}
                        <label for="recipient">Recipient Username</label>
                        <input type="text" class="form-control" id="recipient" name="recipient" placeholder="Enter recipient username" required>
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">R</span>
                            </div>
                            <input type="number" class="form-control" id="transferAmount" name="amount" placeholder="Enter amount" step="0.01" min="0.01" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Transfer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  

<script>
    function change_placeholder(){
        const element = document.getElementById("amount");  
        const amount = parseFloat(element.innerHTML.replace(/[^0-9.-]+/g,"")); 
        document.getElementById("transferAmount").placeholder = `Enter amount less than R ${amount}`;
    }
    
        function change_amount_color() {
            const element = document.getElementById("amount"); 
            const amount = parseFloat(element.innerHTML.replace(/[^0-9.-]+/g,""));
        
            if (amount > 0) {
                element.classList.remove("text-danger");
                element.classList.add("text-success");
            } else {
                element.classList.remove("text-success"); 
                element.classList.add("text-danger"); 
            }
            
        }
        document.addEventListener("DOMContentLoaded", change_amount_color);
        document.addEventListener("DOMContentLoaded", change_placeholder);

     
        </script>
        {% endblock %}  